ID{
	text-align:center;
	display:block;
	margin-top:20pt;
}

NIM{
	display:block;
	color:red;
}

NAMA{
	display:block;
	color:blue;
	font-weight:bold;
	font-size:20pt;
}

KOTA{
	display:block;
	font-family:verdana;
	font-style:italic;
}